.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #474747;
    display: flex;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    align-items: center;
  }
